body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    margin-top: 30px;  
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}
    


label {
    font-weight: bold;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
}
.creation{
  float: right;
  justify-content: right;
  background-color: #f44336;
}

.creation:hover{
  background-color: #c73f35;
}
button:hover {
    background-color: #45a049;
}
.create-box{
  margin: auto;
  padding: 20px;
  margin-top: px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}
.subject-box{
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}
.create-box textarea{
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  
}
.flashcards{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding:0 10px  ;

}
.flashcard{
  width: 25%;
  height: 300px;
  word-wrap: break-word;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 5rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: .4s;
  border-radius: 50%; 
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(8px);
}

.Private {
  position: relative;
  left: 45px;
  color: grey
}

/*reference https://css-loaders.com/nature/#l10*/

.loader {
  background:
    radial-gradient(circle 200px at top right, #ffd738 50%, #0000),
    #4dbefa;
  position: relative;
  margin-top: 0px;
  padding-top: 5rem;

  
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 10px; /* Adjust the vertical position of the clouds */
  left: 0px; /* Adjust the horizontal position of the clouds */
  width: 100px; /* Adjust the width of the clouds */
  height: 60px; /* Adjust the height of the clouds */
  --c: radial-gradient(farthest-side, #fff 96%, #0000);
  background:
    var(--c) 100% 100% / 30% 60%,
    var(--c) 70% 0 / 50% 100%,
    var(--c) 0 100% / 36% 68%,
    var(--c) 27% 18% / 26% 40%,
    linear-gradient(#fff 0 0) bottom / 67% 58%;
  background-repeat: no-repeat;
  animation: l10 15s linear infinite;
  
}

.loader:after {
  top: 15px; /* Adjust the vertical position of the clouds */
  --l: 150%;
}


@keyframes l10 {
  100% {
    left: var(--l, 100%)
  }
}



