:root{
  /*ALL COLOUR VALUES ARE DECLARED HERE*/
    
  }
  /* Reset styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  header {
    background-color: rgb(8, 129, 120);
    color: #fff;
    padding: 1rem;
    display: flex; 
    align-items: center; 
    width: 100vw;
  }
  header img {
    margin-right: 1rem; 
    height: 65px;
    width: 65px;
    
  }
  header h1 {
    font-size: 2rem;
    margin-right: 1rem; }
  nav ul {
    list-style: none;
    margin-left: auto; 
  }
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  nav ul li a {
    color: #fff;
    text-decoration: bold;

  }



  #hamburgerMenu {
    display: none;
    cursor: pointer;
    flex-direction: column;
  }
  
  #dropdownContent {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .navbarLinks {
      display: none;
    }
  
    #hamburgerMenu {
      display: flex;
    }
  }
 
  .hero {
    text-align: center;
    margin-bottom: 2rem;
    margin-bottom: 20rem;
  
  }
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
    padding-top: 25%;
  
  
  }
  .hero p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #fff;
   
  
    
  }
  .btn {
    display: inline-block;
    background: rgb(8, 129, 120);
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
  }

  #three-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #content {
    position: relative;
    z-index: 1;
    
  }
  


  
 




  .content {

    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
   
  }



  footer {
    background: rgb(8, 129, 120);
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: flex;
    bottom: 0;
    width: 100vw;
    height: 50px;

  
  }

  .darkmode {
    background-color: #0a092d;
    color: white;
    
    
  }

  .darkhfmode {
    background-color: black;
    color: white;
  }

  .darkHr {
    background-color: white;
  }

  

  /*This is the animation for the login page to move into frame*/
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .slide-up {
    animation: slideUp 0.5s ease forwards;
  }