:root{
  --purple-header: #0a092d;
  --lighter: #AD88C6;
  --gray-300-gray-600: #586380;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';

}

body{
  background-color: var(--purple-header);
}

/* Updated CSS */
header {
  background: var(--purple-header);
  color: #fff;
  padding: 1rem;
  display: flex; 
  align-items: center; 
  width: 100vw;
  border-bottom: 1px solid white;
  
  
}

nav {
  flex-grow: 1; 
  text-align: right; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li.close {
  margin-right: 0; 

}


nav ul li.close a {
  background-color: var(--purple-header);
  text-decoration: none;
  border: 3px solid black;
  border-radius: 5px;

}

.close {
  display: inline-block;
  
  
}

.close a {
  color:ghostwhite; 
  text-decoration: none; 
  font-size: 1.5rem; 
  padding: 0.5rem; 
  width: 2.5rem; 
  height: 2.5rem; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.close a:hover {
  color: #ccc; 
}




main {
  background-color: var(--purple-header);
  color: #ddd;
  display: flex;
  width: 100vw;
}
.learnSection,
.Waffle {
    flex-grow: 1;
    width: 50%;
}

.learnSection {
  background-color: var(--purple-header);
  color: #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  height: 50vh;
  width: 55vw;
  display: flex;
  flex-direction: column; 
 align-items: left;
}


.learnSection h2{
  margin-bottom: 2rem;
  

}


.learnSection h4{
  margin-bottom: 2rem;
}



.PasteText{
  border-bottom: 2px dashed  rgb(255, 255, 255);
  cursor: pointer;
  margin-bottom: 10px;
}



.learnSection textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
  align-items: center; 
  height: 25rem;
}

.learnSection button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 25rem;

}

.learnSection button:hover {
  background-color: #4cae4c;
}



.Waffle {
  background-color: var(--purple-header);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  height: auto; /* Adjust height as needed */
  font-size: 1.5rem;
  width: 45vh;

}

.Waffle h3 {
  color:  white;
  margin-bottom: 20px;
}

.Waffle div {
  margin-bottom: 10px;
  
}

.Waffle div i {
  margin-right: 10px;
}

.Waffle div,
.Waffle div i {
  display: flex;
  align-items: center;
}

.socialMedia {
  margin-top: 20px;
  
}

.socialMedia i {
  font-size: 2.5rem;
  cursor: pointer;
  
  padding: 0;
  
}





















footer {
  background: var(--purple-header);
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px; /* Increased height for button */
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute items horizontally */
}

footer p {
  margin: 0; /* Remove default margin */
  font-size: 12px;
}

footer button {
  background-color: grey;
  border: 2px solid #4a4949;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 15rem;
}



footer button:hover {
  background-color: rgba(128, 128, 128, 0.671);
  color: var(--purple-header);
}



