{% extends "base.html" %}

    
{% block content %}

    <div class = "container">
    <div class="subject-box">
      <h2 style="text-align: center">Create Flashcard </h2>
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject">
      <br>
      <label for="title"> Title</label>
      <input type="text" id="title" name="title">
      <br>
      <label class="toggle">
        <input type="checkbox" id="publicCheckbox" onclick="SwitchPublic()">
        <span class="slider"></span> <p class="Private">Private</p>
      </label>
    </div>
  </div>

  <div class="container">
    <div class="create-box">
      <label for="question">Question</label>
      <textarea id="question" cols="3" rows="10"></textarea>
      <br>
      <label for="answer">Answer</label>
      <textarea id="answer" cols="3" rows="10"></textarea>
      <div>
        <button onclick="addFlashcard()">Save Card</button>
        <button id="flashcard-form"> Submit Set</button>
        <button class="creation" onclick="delFlashcards()">Delete All Cards</button>
      </div>
    </div>
  </div>

    <div class="flashcards"></div>

    <div id="flashcard-message"></div>

    <link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">
    <script src="static/create.js"></script>  
{% endblock %}