{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='setting.css') }}">

{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='setting.css') }}">
<h1 id="SettingTitle">Settings</h1>

<fieldset>
    <legend> Edit Profile</legend>
    <div class="EditProfile">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p class="Edit">
                <b>{{ form.username.label }}</b><br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="Edit">
                <b>{{form.email.label}}</b><br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="Edit">
            <b>{{ form.confirm_password.label (class="confirm-label")}}</b><br>
                {{ form.confirm_password }}<br>
                {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(id="editSubmit") }}</p>
        </form>
    </div>
</fieldset>


<fieldset>
    <legend>Appearance</legend>
    <div class="textbtn">
        <p><b>Dark Mode</b></p>
        <label class="toggle">
            <input type="checkbox" id="DMtoggle" onclick="darkmode()">
            <span class="slider"></span>
        </label>
    </div>
    <hr>
    <div class="textbtn">
        <p><b>Langauge</b></p>
        <select id="myDropdown">
            <option value="English">English</option>
        </select>

    </div>
</fieldset>

<div class="AccPriv">
<fieldset>
    <legend>Account and Privacy</legend>
    <p><b> Privacy </b></p>
    <div class="textbtn">
        <p class="inlinetxt"> Make profile private (all cards will be private)</p>
        <label class="toggle">
            <input type="checkbox" id="publicCheckbox">
            <span class="slider"></span>
        </label>
    </div>
    <hr>
    <p><b> Delete Your account </b></p>
    <div class="textbtn">
        <p class="inlinetxt"> This will delete your account forever and cannot be undone </p>
        <button class="deletebtn" onclick="deleteAcc({{ current_user.id }})"> Delete Account</button>
    </div>
</fieldset>
</div>



{% endblock %}