{% extends "base.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

<section class="hero">
  <div id="three-container"></div> 
  <div class="content" id="content">
    <h2>Master Your Subjects with stud.e</h2>
    <p>Study smarter, not harder. Access millions of flashcards and quizzes created by students like you.</p>
    <button class='btn' id="login-btn1"> Get started</button>
  </div>
</section>
<section class="studyFeatures">
</section>


<div id="login-modal" class="modal">
  <div class="modal-content">
    <div class="outline">
      <span class="close">&times;</span>
      <form action="{{ url_for('login') }}" method="post" novalidate>
        <div class="heading-container">
          <h1 class="{% if page == 'home' %}swiggly-text{% endif %} login-heading"><b><a href="{{ url_for('login') }}">Log In</a></b></h1>
          <h1 class="{% if page == 'register' %}swiggly-text{% endif %} signin-heading"><b><a href="{{ url_for('register') }}">Sign Up</a></b></h1>
        </div>
        <div class="social-icons">
          <div class="Google"><a href="#" class="icon"><i class="fa-brands fa-google"></i></a><b>Log In with Google</b></div>
          <div class="Google"><a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a><b>Log In with Facebook</b></div>
        </div>
        <div style="display: flex; align-items: center; text-align: center;">
          <hr style="flex: 1;">
          <span style="padding: 0 10px;">or use your email password</span>
          <hr style="flex: 1;">
        </div>
        <div class="inputinfo">
          {{ form.hidden_tag() }}
          <p>
            {{ form.username(size=32, placeholder="Enter username") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password(size=32, placeholder="Password") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class="centerPassword">
              <a class="forgetPassword" href="#"> Forgot Password</a>
            </div>
          </p>
          <div class="centered-text">
            <p>{{ form.remember_me() }} Remember Me</p>
          </div>
          <p>{{ form.submit() }}</p>
          <div class="signUp">
            <p><a href="{{ url_for('register') }}">New to stud.e? Create an account</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='starfield.js')}}"></script>
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}
