{% extends "base.html" %}
{%block content %}

<link rel="stylesheet" type="text/css" href="static/learn.css">
<h1 id="heading">{{info.title}}</h1>
<h3>{{info.subject}}</h3>

<div class="carousel">
  <div class="card active">
    <h2>Click On The Card To Reveal The Answer!</h2>
    <p class="answer">Press The Arrows To Move Between Flashcards</p>
  </div>
  {%for card in cards %}
  <div class="card">
    <h2>{{card.question}}</h2>
    <p class="answer">{{card.answer}}</p>
  </div>

  {%endfor%}

  <div class="navigation">
    <button id="prev" class="navigation">&#8249;</button>
    <button id="next" class="navigation">&#8250;</button>
  </div>

</div>

<script src="static/learn.js"></script>


{%endblock%}