{% extends "base.html" %}




{% block content %}
  
<link rel="stylesheet" href="{{ url_for('static', filename='learn.css') }}">
<script src="static/learn.js"></script>

<div class="slider">
  <div class="holder">
    <div class="flashcard active first">
      <div class="front">
        <p class="show-text">Press the DOWN ARROW key to flip the flashcard.</p>
      </div>
      <div class="back">
        <p>Press the LEFT ARROW KEY to move to the next flashcard</p>
      </div>
    </div>
    {%for card in cards%}
    <div class="flashcard">
      <div class="front">
        <p class="show-text">{{card.question}}</p>
      </div>
      <div class="back">
        <p>{{card.answer}}</p>
      </div>
    </div>
    {%endfor%}
    <div class="flashcard">
    <div class="flashcard lastcard flipped">
      <div class="front">
        <p class="show-text">You have finished the deck. Press the RIGHT ARROW KEY to flip back through.</p>
      </div>
      <div class="back">
        <p>You have finished the deck. Press the RIGHT ARROW KEY to flip back through.</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="instructions">
    <ul>
      <li>&#9668; - rotate LEFT</li>
      <li>&#9658; - rotate RIGHT</li>
      <li>&#9660; - FLIP card</li>
    </ul>
  </div>
</footer>


{% endblock %}