{% extends "base.html" %}

{% block navigation_menu %}
<ul class="navigation-menu1">
  <li><a href='{{ url_for('home') }}'>Home</a></li>
  <li><a href="#">Explore</a></li>
  <li><a href='{{ url_for('create') }}'>Create</a></li>
  <li><a href="{{ url_for('user', username=current_user.username) }}">{{ user.username }}</a></li>


 <div class="dropdown" onmouseover="showMenu()" onmouseout="hideMenu()">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content" id="myDropdown">
    <a href={{ url_for('edit_profile') }}>Setting</a>
    <a href="{{ url_for('logout') }}">Log out</a>
  </div>
</div>
{% endblock %}


{% block content %}
  <table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        </td>
    </tr>
</table>
{% if user == current_user %}
<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}
<div id="demo"></div>

{% endblock %}

