{% extends "base.html" %}




{% block content %}


  <table>


    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        </td>
    </tr>
</table>
{% if user == current_user %}
<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}


<style>
    /* General styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    /* Table styles */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
        background-color: #fff;
    }
    td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    td:first-child {
        width: 128px; /* Adjust avatar column width */
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 50%; /* Make the avatar image round */
    }
    h1 {
        margin-top: 0;
        font-size: 24px;
        color: #333;
    }
    p {
        margin: 5px 0;
        font-size: 16px;
        color: #666;
    }
    /* Links */
    a {
        text-decoration: none;
        color: #007bff;
    }
    a:hover {
        text-decoration: underline;
    }
</style>
<script src="{{ url_for('static', filename='create.js') }}"></script>

<div id="demo" style="height: 100vh;"></div>

{% endblock %}
